Flask==2.3.2
Flask-Cors==3.0.10
flask-restplus==0.13.0
Flask-SQLAlchemy==3.0.3
flatbuffers==22.12.6
fonttools==4.33.3
fsspec==2023.4.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
virtualenv==20.24.0
